.hello {
  margin-top: 50px;
}

.enter {
  max-width: 1000px;
  margin-top: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.chatName {
  outline: none;
  margin-right: 20px;
}

.navigation {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
}

.navigationMenu {
  outline: none;
  text-decoration: none;
  background: #1976d2;
  color: white;
  width: 15%;
  line-height: 3;
  border: 1px solid transparent;
  text-transform: uppercase;
}

.navigationMenu:hover {
  color: black;
  background: white;
  border: 1px solid black;
}

.addUser {
  margin-right: 20px;
  margin-bottom: 50px;
  height: 30px;
  font-size: 20px;
}