.hello {
    margin-top: 50px;
}

.enter {
    max-width: 1000px;
    margin-top: 50px;
    justify-content: space-between;
    display: flex;
}

.chat {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.chatName {
    outline: none;
    margin-right: 20px;
}

.navigation{
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}
.navigationMenu {
    outline: none;
    text-decoration: none;
    background: #1976d2;
    color: white;
    width: 15%;
    line-height: 3;
    border:1px solid transparent;
    text-transform: uppercase;
}

.navigationMenu:hover {
    color:black;
    background: white;
    border: 1px solid black;
}

.addUser {
    margin-right: 20px;
    margin-bottom: 50px;
    height: 30px;
    font-size: 20px;
}

